body {
  background-color: #fff0ff; 
}

#sunny {
    color:red;
}

#rainy {
    color:blue;
}

#cold{
    color:lightblue;
}

img {
    width:100px;
    display:inline-block;
}

label{
    display:inline-block;
    margin:15px 10px 5px;
    font-size:20px;
}

button {
    margin:5px;
    font-size:15px;
}

button:hover{
    font-size:20px;
    margin:2px;
    color:green;
}

.rainy {
    border-style: dashed;
    border-color:cornflowerblue;
    padding: 10px;
    margin: 10px;
}

.rainy img {
    height:200px;
    width:auto;
}

.rainy label {
    margin:15px;
}

.sunny img {
    height:100px;
    width:auto;
}

.cold {
    border-style: dotted;
    border-color:rgb(177, 217, 225);
    padding:10px;
    margin: 10px;
}

.sunny {
    border-style:groove;
    border-color:rgb(255, 209, 70);
    padding:10px;
    margin: 10px;

}