
body {
    margin-top: 20px;
  background-color: #fff0ff; 
   border:8vw solid pink
}

#sunny {
    color:red;
}

#rainy {
    color:blue;
}

#cold{
    color:lightblue;
}

img {
    margin-left: 20px;
    width:120px;
    display:inline-block;
}

label{
    display:inline-block;
    margin:15px 10px 5px;
    font-size:20px;
}

button {
    margin:5px;
    font-size:15px;
    margin-left: 20px;
}

button:hover{
    font-size:20px;
    color:green;
}

.rainy {
    border-style: dashed;
    border-color:cornflowerblue;
    padding: 10px;
    margin: 10px;
}

.rainy img {
    height:200px;
    width:auto;
}

.rainy label {
    margin:15px;
}

.sunny img {
    height:100px;
    width:auto;
}

.cold {
    border-style: dotted;
    border-color:rgb(177, 217, 225);
    padding:10px;
    margin: 10px;
}

.sunny {
    border-style:groove;
    border-color:rgb(255, 209, 70);
    padding:10px;
    margin: 10px;

}

h1{
text-align:center;

}
h2 {
    font-family: "Vast Shadow";
    font-size: 50px;
    font-weight:200;
    margin:auto;
    justify-content: center;
    text-align:center;

}

h3 {
    font-family: "Cherry Bomb One";
    font-weight:30;
    text-align:center;
}
span {
    color:pink;
}
.begin{
    margin-left:185px;
}